1.- Load data (file3.xlsx and file4.xlsx) in a new Jupyter notebook. 
You might face the error saying that optional dependency xlrd is missing. 
In that case, they should install it using pip. If you don't get the error,
 move to the next step. üòÑ

In [3]:
import pandas as pd

In [57]:
#1: Creaci√≥n del Dataframe Data

file1 = pd.read_csv("file1.txt")
file2 = pd.read_csv("file2.txt", sep = '\t')

column_names = file1.columns
data = pd.DataFrame(columns=column_names)
data = pd.concat([file1,file2], axis=0)

data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [10]:

file3=pd.read_excel("file3.xlsx")
file4=pd.read_excel("file4.xlsx")

In [11]:
#2.-
file3.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [12]:
file4.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [13]:
data.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [18]:
for i in range(data.shape[1]):
  if(data.columns[i]==file3.columns[i]): print("La columna",i," s√≠ es id√©ntica")
  else: print("La columna",i,"no es id√©ntica")

La columna 0  s√≠ es id√©ntica
La columna 1  s√≠ es id√©ntica
La columna 2  s√≠ es id√©ntica
La columna 3  s√≠ es id√©ntica
La columna 4  s√≠ es id√©ntica
La columna 5  s√≠ es id√©ntica
La columna 6  s√≠ es id√©ntica
La columna 7  s√≠ es id√©ntica
La columna 8  s√≠ es id√©ntica
La columna 9  s√≠ es id√©ntica
La columna 10  s√≠ es id√©ntica
La columna 11  s√≠ es id√©ntica
La columna 12  s√≠ es id√©ntica
La columna 13  s√≠ es id√©ntica
La columna 14  s√≠ es id√©ntica
La columna 15  s√≠ es id√©ntica
La columna 16  s√≠ es id√©ntica

In [24]:
# | pipeline: para comparaciones es "or" 
#& en comparaciones de "y"
for i in range(data.shape[1]):
  if((data.columns[i]==file4.columns[i]) |(data.columns[i]==file3.columns[i]) ):
    print("La columna",i,"no es id√©ntica")

La columna 0 no es id√©ntica
La columna 1 no es id√©ntica
La columna 2 no es id√©ntica
La columna 3 no es id√©ntica
La columna 4 no es id√©ntica
La columna 5 no es id√©ntica
La columna 6 no es id√©ntica
La columna 7 no es id√©ntica
La columna 8 no es id√©ntica
La columna 9 no es id√©ntica
La columna 10 no es id√©ntica
La columna 11 no es id√©ntica
La columna 12 no es id√©ntica
La columna 13 no es id√©ntica
La columna 14 no es id√©ntica
La columna 15 no es id√©ntica
La columna 16 no es id√©ntica

In [50]:
for i in range(data.shape[1]):
  if(data.columns[i]!=file3.columns[i]): print("La columna",i," no es id√©ntica")

La columna 0  no es id√©ntica
La columna 1  no es id√©ntica
La columna 2  no es id√©ntica
La columna 3  no es id√©ntica
La columna 4  no es id√©ntica
La columna 5  no es id√©ntica
La columna 6  no es id√©ntica
La columna 7  no es id√©ntica
La columna 8  no es id√©ntica
La columna 9  no es id√©ntica
La columna 10  no es id√©ntica
La columna 11  no es id√©ntica
La columna 12  no es id√©ntica
La columna 13  no es id√©ntica
La columna 14  no es id√©ntica
La columna 15  no es id√©ntica
La columna 16  no es id√©ntica

In [35]:
data.columns[3].lower()

'hv1'

In [58]:
columnas_mins=[]
for i in range(data.shape[1]):
  columnas_mins.append(data.columns[i].lower())
columnas_mins

['controln',
 'state',
 'gender',
 'hv1',
 'ic1',
 'ic4',
 'hvp1',
 'ic5',
 'pobc1',
 'pobc2',
 'ic2',
 'ic3',
 'avggift',
 'tcode',
 'dob',
 'domain',
 'target_d']

In [59]:
data.columns=columnas_mins

In [60]:
data

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [47]:
nueva_lista=['1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1']

In [48]:
data.columns=nueva_lista

In [49]:
data

,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380.0,47,13811,25,43,353.0,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684.0,36,29098,7,19,586.0,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540.0,1,16623,5,68,529.0,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295.0,0,12713,9,12,221.0,276,12.857143,0,0,C2,12.0

In [66]:
data_3 = pd.concat([file4,data], axis=1)

InvalidIndexError: ignored

In [64]:
data_3

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,...,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,119966.0,TX,F,321,225.0,281.0,0.0,9372.0,3.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,152470.0,CA,F,5725,610.0,807.0,97.0,53158.0,13.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48527.0,AL,Male,931,407.0,496.0,0.0,17743.0,0.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,171528.0,CA,F,1895,317.0,471.0,46.0,17431.0,10.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50122.0,Tennessee,F,715,318.0,370.0,2.0,12416.0,0.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25.0,43.0,353.0,337.0,13.500000,0.0,4212.0,C2,14.0
1011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13811,25.0,43.0,353.0,337.0,13.500000,0.0,4212.0,C2,14.0
1012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29098,7.0,19.0,586.0,551.0,9.769231,2.0,1403.0,S1,20.0
1013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16623,5.0,68.0,529.0,506.0,5.200000,0.0,0.0,T2,5.0
1014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12713,9.0,12.0,221.0,276.0,12.857143,0.0,0.0,C2,12.0